<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/48a6d27d-2b02-41e6-8aa4-868b547e3fe5/resourceGroups/RevitBatchSaaS-RG/providers/Microsoft.Web/sites/revitbatchadminweb</ResourceId>
    <ResourceGroup>RevitBatchSaaS-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://revitbatchadminweb-f9huhuh6a0aecghg.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>70ae23d3-f425-01a6-8f8e-4f7d30f8dfed</ProjectGuid>
    <PublishUrl>https://revitbatchadminweb-f9huhuh6a0aecghg.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>